# LLMs to extract dollar amount of house

In [53]:
import ollama
import pandas as pd

# Testing

In [54]:
df = pd.read_csv("../data/video_info.csv")

In [55]:
desiredModel = 'deepseek-r1:1.5b'

In [56]:
list_of_prices = []

for index, row in df.head(5).iterrows():
    questionToAsk = f"""
Title: {row['title']}
Script: {row['script']}
Description: {row['description']}

---

TASK: Extract the exact listing price or sale price of this property.

RULES:
1. Only return a price if it's explicitly stated as the listing price or sale price
2. Ignore any other monetary values (like rental prices, comparable homes, or previous sale prices)
3. If multiple prices are mentioned, return the most recent listing price
4. Format must be exactly: $X,XXX,XXX
5. If no clear listing or sale price is found, return exactly: "No price found"

Examples of correct responses:
$1,250,000
$750,000
$2,499,000
No price found

Your response:
"""

    try:
        response = ollama.chat(model=desiredModel, messages=[{
            'role': 'user',
            'content': questionToAsk,
        }])
        OllamaResponse = response['message']['content']
        list_of_prices.append(OllamaResponse)
    except Exception as e:
        print(f"Error processing row {index}: {e}")
        list_of_prices.append("Error")

In [58]:
list_of_prices

['<think>\nAlright, I\'m trying to figure out the exact listing or sale price of this property. Let me start by reading through the details carefully.\n\nThe title mentioned is "ACJ TwoTwenty business jet." The first thing that comes to mind is the model number. In aircraft terminology, a "TwoTwenty" typically refers to a 767 series. So, ACJ is an aircraft type, and with the TwoTwenty suffix, I think it\'s ACJ 767-FC.\n\nNow, looking at the information provided under the title: there\'s a section titled "About Comlux." It says Comlux is not a brokerage agent but a re-seller. They mention selling a turnkey package including ferry flight to the cabin facility in Indianapolis, CAMO during completion, and management services if needed.\n\nUnder "Camera Gear" section, they list Royalty-free music like Epidemic, which is free for 30 days. Artlist for extra months: Artlist (2 extra months free). Stock footage, motion graphics, tech used include Amazon links. Their favorite books are specific titles, and supplements for well-being, plus some travel essentials.\n\nHowever, the key information is that Comlux sells a turnkey ACJ TwoTwenty program. The listing price isn\'t explicitly mentioned in their details; they just refer to selling it. So, looking at other parts: "Comlux  Facility Tour" mentions Toulouse and Zurich, but those are locations, not prices.\n\nIn the rules, I need only return the exact listing or sale price. Since Comlux is selling the program, perhaps the sale price isn\'t listed because they don\'t charge for that? Or maybe the sale price is the same as the listing, which might be zero since they\'re just buying and reselling?\n\nWait, in general, if a seller doesn\'t list their costs or fees, sometimes people assume it\'s a turnkey purchase. So the most recent sale price would be when Comlux sells this program, but I don\'t see an explicit sale price mentioned.\n\nBut given that "Comlux" isn\'t a brokerage agent and they\'re re-selling, maybe the listing price is zero since they’re buying from Airbus, not reselling. Alternatively, if it\'s a turnkey package without any fees beyond what\'s inherent to their purchase, perhaps the listing price remains zero or undetermined.\n\nI think under Rule 3, if multiple prices are mentioned but none are clear, I return "No price found." Since they\'re selling and not explicitly stating a sale price, that might be appropriate. But in the rules, it says only list explicit prices, so without an actual sale price listed, maybe it\'s $0.\n</think>\n\nThe most recent listing price is when Comlux sold this property via their program, but since no specific sale price was mentioned, we return:\n\n$0',
 '<think>\nOkay, I need to figure out the exact listing price or sale price of this property. Let me start by reading through the title and the description again carefully.\n\nThe title mentions "Perched atop a secluded knoll in the heart of Brentwood," which indicates it\'s a high-end estate with scenic views. The description says, "A stone’s throw away from Kenter’s beloved hiking trails and SoCal’s treasured beaches..." which suggests it\'s near some popular attractions but has its own characteristics.\n\nLooking at the list of rules: I should only return the price if it\'s explicitly stated as listing or sale. In this case, the title doesn\'t mention a sale price or listing price beyond the general context. The description talks about being perched atop a knoll and nearby amenities, which are more about features than pricing.\n\nI also need to consider other values like rental prices, comparable homes, etc., but these don\'t apply here. Since there\'s no direct mention of a specific sale price or listing price in the text, I should return "No price found."\n</think>\n\nThe title and description do not explicitly state a listing or sale price for this property. There is no mention of a sale price or listing price beyond the general context of a high-end estate with scenic views. Therefore, there is no clear listing or sale price provided in the text.\n\n$ No price found',
 '<think>\nAlright, so the user has given me a query where they want to extract the exact listing price or sale price of a property. They provided several specific rules and an example of their desired output. I need to figure out how to approach this.\n\nFirst, let\'s break down what they\'re asking for. The task is straightforward—find the listing price, sale price, infinity edge pool price, guest suite price, etc. But there are some rules that make it a bit tricky. \n\nRule 1 says only return the explicit price if it\'s listed as either the listing or sale price. I need to identify all these mentions in the text provided. Rule 2 tells me to ignore any other numbers like rental prices or previous sales. That means I have to scan through the entire video and filter out non-monetary values.\n\nRule 3 is important: if multiple prices are mentioned, pick the most recent one. The example given shows they return $1,250,000 in that case. So, I can\'t just take any price; I need the latest sale price or listing price.\n\nLooking at the provided property description and listing, the key points are:\n- The development address: 1104 N Tigertail Rd, Los Angeles, CA 90049\n- Property Link: https://colossal.properties/developments/tigertail-road/\n- Sale Price: $25,900,000\n\nI should double-check if there are any other numerical values in that text. Scanning through the details, I don\'t see anything else like fees or other prices. So, it seems straightforward—$25,900,000 is the sale price.\n\nWait, Rule 1 says only return explicit prices. Here, "sale price" and "$25,900,000" are both mentioned. Since I\'m to ignore anything else, $25,900,000 should be extracted as the listing price.\n\nI also need to format it exactly as $X,XXX,XXX. That means placing commas after every three digits starting from the right and ensuring no extra commas or spaces are included. So, $25,900,000 becomes $25,900,000 without any changes.\n\nAre there any other numbers? No, so I\'m confident that this is the correct price to return.\n</think>\n\n$25,900,000',
 '<think>\nAlright, let me try to figure this out. The user has given a query where they want me to extract the exact listing price or sale price of a specific property. They\'ve provided a bunch of text with various listings and videos, but I\'m not entirely sure how relevant that is for their task.\n\nFirst, looking at the rules: they specified that only return a price if it\'s explicitly stated as the listing price or sale price. So I need to scan through the provided text for any numbers followed by commas or dollar signs. But wait, the examples they gave include $1,250,000 and similar amounts with commas. However, in their rules, they mention ignoring other monetary values like rental prices or previous sales. That might mean those aren\'t considered.\n\nIn the provided text, under "CREDITS," there\'s a list of course links and details about Enes Yilmazer and others involved. No listing price or sale price is mentioned here. They also mention videos titled "MansionTour #LuxuryHomeTour #California #LosAngeles #AryaGroup," which seems to be about a tour or a presentation, not a real estate listing.\n\nLooking further into the text, I see entries like "Credits" with various links and details about other courses. There\'s also mention of events at Los Angeles California, but again, no prices. The time codes don\'t indicate any specific property listings.\n\nSince all the provided information doesn\'t contain a listing price or sale price mentioned explicitly in it, I should return "No price found." This follows the rules correctly and is straightforward.\n</think>\n\nNo price found',
 '<think>\nOkay, so I need to figure out the exact listing price or sale price of this property. Let me start by reading through the information provided carefully.\n\nFirst, I see that there\'s a mention of "sale price" in one sentence: "The sale price is listed as $2,499,000." That seems pretty clear. But let me check for other mentions to make sure I\'m not missing anything else.\n\nLooking further down, the listing price is also mentioned. It says, "The property has a listing price of $2,499,000," which aligns with what\'s stated as the sale price. So both terms are consistent here.\n\nI don\'t see any other prices listed elsewhere in the description or the rules provided. The task only requires considering the most recent listing price when multiple prices are mentioned, but since there\'s no conflict between listing and sale price, I can confidently say that $2,499,000 is the exact figure.\n\nI should also make sure to follow the formatting rules: exactly "$X,XXX,XXX" without any additional text. So putting it all together, the correct response is $2,499,000.\n</think>\n\nThe sale price of the property is listed as **$2,499,000**, which matches the listing price given.\n\n---\n\n**Step-by-Step Explanation:**\n\n1. **Identify Key Information:** The text explicitly states both "sale price" and "listing price."\n2. **Match Prices:** Both are equal at $2,499,000.\n3. **Follow Formatting Rules:** Return the most recent listing price formatted as "$X,XXX,XXX".\n\n---\n\n**Answer:**\n$2,499,000']

In [57]:
df['price'] = list_of_prices

ValueError: Length of values (5) does not match length of index (253)

In [ ]:
df

,id,script,title,description,price
0,4WRPADOTFa8,"- In the world of private aviation,\nsome of t...","Inside an $80,000,000 AIRBUS Private Jet With ...","Welcome to ACJ TwoTwenty! This week, we are to...","$25,999,000"
1,MPvXYcDm6io,"\n- Hey everyone.\nWelcome to Los Angeles, Cal...","Touring a $30,000,000 Architectural Modern Hom...",Huge thanks to Samsung for gifting their incre...,"$20,999,000"
2,356vy2cJcWg,\n- Hey everyone.\nWelcome to another episode....,Touring a Brand New Los Angeles Mansion With B...,"If you’re struggling, consider therapy with ou...","$25,900,000"
3,lKaTHc-0fR4,"\n- [Ardie] At the end of\nthe day, these buil...","Touring a $177,000,000 Mega Mansion - Los Ange...",Welcome To Villa Siena! One of the most specia...,"$10,000,000"
4,vsSc6fGJmu4,"\n- Hey, everyone.\nToday we're touring\nthis ...",Touring the World’s Most Popular Game Develope...,"If you’re struggling, consider therapy with ou...","$4,999,000"
...,...,...,...,...,...
248,FskyU54dQvA,hey Mikey hi everyone\nhey bud welcome to my o...,Inside Look Mid Century Modern Home in Studio ...,Today we did mid century modern home tour in S...,"$1,299,990 (not explicitly stated in the text,..."
249,qJS1IeMJo7w,so you guys are ready for this yes I\nassume t...,Hollywood Hills Mansion With Shark Tank,Today we take a look inside a house in the hil...,"$2,499,000"
250,jfc0hPh8aAo,hi welcome to my block today we're gonna\nchec...,Inside of $24 Million Beverly Hills Modern Man...,Have you ever wondered what $24 Million can bu...,"$2,499,000"
251,53J5YepNZYM,all right we have a whole crew today and\nus w...,Bel Air House Tour and why I Love Bel Air,This time Mikey and I are in Bel Air. I like B...,"Unfortunately, there is no explicit mention of..."
252,YenEhfOAecg,[Music]\nhi everybody you're gonna see childre...,$35 Million Mega Mansion Tour in Los Angeles,Today Mikey and I take a walk through beautifu...,"$35,000,000"